h1, h2, h3, h4 {
  font-weight:lighter;
}

h1 {
  font-size:22pt;
}

h2 {
  font-size:18pt;
}

h3 {
  font-size:14pt;
}


.text-center {
  text-align: center;
}

.top-bar {
  background:#7bdb3c;
  color:white;
}

.top-bar-section ul {
  background:#7bdb3c;
}

.top-bar a {
  text-shadow:0px 1px 1px rgba(0,0,0,.3);
}

.top-bar-section ul li > a {
  background:#7bdb3c;
}

.top-bar-section > ul > .divider {
  border-color: rgba(0,0,0,.1);
}

.top-bar-section li a:not(.button) {
  background:#7bdb3c;
  padding:10px 15px;
  line-height:20px;
}

h2 {
  font-size:16pt;
}

p {
  font-size:10pt;
}

code {
  font-size:9pt;
  word-wrap:break-word;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

ul.side-nav li a {
  font-size:10pt;
}

th, td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.main {
  padding-top:60px;
}

.callout {

}

section#main-content {
  min-height: 580px;
}

#footer {
  font-weight: 300;
  font-size: 9pt;
  text-align: left;
  color: #333;
  padding-top:20px;
  margin-top:20px;
  min-height: 80px;
}

#footer h3 {
  color: rgba(255,255,255, 0.7);
  font-size: 16px;
  font-weight: 400;
}

#footer ul {
  list-style:none;
}

#footer ul li {
  padding: 5px 0;
  margin: 0 20px 0 0;
}

#footer ul li a:hover {
  text-decoration: underline;
}

.icon {
  font-family: 'Pictos Custom' !important;
  -webkit-font-smoothing: antialiased;
  font-size:28pt;
  text-align: center;
}

