<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!-->
    <html class="no-js" lang="en" >
  <!--<![endif]-->
  <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <script src="js/vendor/custom.modernizr.js"></script>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/foundation.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>

      <nav class="top-bar" style="">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a class="brand" href="/">TradeGecko</a><h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class=""><a href="/">Overview</a></li>
            <li class="divider"></li>
            <li class=""><a href="/api.html">API <sup>Beta</sup></a></li>
            <li class="divider"></li>
            <li class=""><a href="/developer.html">Developer</a></li>
          </ul>
        </section>
      </nav>

      <!-- /navbar -->

      <section id="main-content">
        <div class="row">
          <div class="large-9 columns">
            {{content}}
          </div>
        </div>
      </section>
      <!-- /main -->

      <!-- footer -->
      <footer id="footer">
        <div class="row">
          <div class="large-3 columns">
            <h3>Learn about TradeGecko</h3>
            <ul>
              <li><a href="http://tradegecko.com/apps">Browse Add-ons</a></li>
              <li><a href="http://tradegecko.com/integrations">Apps Coming Soon</a></li>
              <li><a href="http://tradegecko.com/product-tour">Product Tour</a></li>
              <li><a href="http://tradegecko.com/pricing">Pricing</a></li>
              <li><a href="http://tradegecko.com/inventory-management-software">Inventory Management</a></li>
              <li><a href="http://tradegecko.com/sales-management-software">Sales Management</a></li>
              <li><a href="http://tradegecko.com/customer-management-software">Customer Management</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <h3>Our Community</h3>
            <ul>
              <li><a target="_blank" href="http://tradegecko.com/partners">Partners</a></li>
              <li><a target="_blank" href="http://docs.tradegecko.com">Developers</a></li>
              <li><a target="_blank" href="http://twitter.com/tradegecko">TradeGecko Twitter</a></li>
              <li><a target="_blank" href="http://facebook.com/tradegecko">Facebook</a></li>
              <li><a target="_blank" href="http://www.linkedin.com/company/tradegecko-pte-ltd-">Linkedin</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <h3>About the Company</h3>
            <ul>
              <li><a href="http://tradegecko.com/about">About TradeGecko</a></li>
              <li><a href="http://tradegecko.com/jobs">Work With Us</a></li>
              <li><a href="http://tradegecko.com/team">Team</a></li>
              <li><a href="http://tradegecko.com/press">Press</a></li>
              <li><a href="http://tradegecko.com/featured-in">In The Media</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <h3>Resources</h3>
            <ul>
              <li><a target="_blank" href="http://blog.tradegecko.com">TradeGecko Blog</a></li>
              <li><a target="_blank" href="http://support.tradegecko.com">Support &amp; Knowledge Base</a></li>
              <li><a target="_blank" href="https://go.tradegecko.com/changes">TradeGecko Updates &amp; Changes</a></li>
              <li><a target="_blank" href="http://tradegecko.com/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <ul>
              <li>
                <a href="http://tradegecko.com/privacy">Privacy Policy</a>, <a href="http://tradegecko.com/terms">Terms &amp; Conditions</a>
              </li>
            </ul>
          </div>
          <div class="large-6 columns">
            <ul>
              <li>
                <a href="http://tradegecko.com/contact">Email Us</a> Call us +1 <a href="callto:6504682904">(650) 468-2904</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>



      <script>
      document.write('<script src=' +
      ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
      '.js><\/script>')
      </script>
      <script src="/js/foundation.min.js"></script>
      <script src="/js/foundation/foundation.topbar.js"></script>

      <script>
        $(document).foundation();
      </script>
    </body>
</html>
